.main-header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 1px 8px rgba(36, 36, 36, 0.15);
}

.logo {
    padding-top: 1.82rem;
    padding-bottom: 1.76rem;
    padding-left: 10rem;
}