.main-nav {
    padding-top: 2.19rem;
    padding-bottom: 2.19rem;
    padding-right: 10rem;
}
.nav-items{
    font-family: inherit;
    font-weight: 600;
    font-size: 1.13rem;
    line-height: 1.54rem;
    text-decoration: none;
    padding-right: 3.69rem;
    color: #242424;
}

.nav-items.-right {
    padding-right: 0;
}

.nav-items:hover {
    color: #C95E20;
}

@media only screen and (max-width: 992px) {
    .main-nav {
        padding-top: 0;
        padding-bottom: 1rem;
        padding-right: 0;
        grid-area: nav;
    }
    .nav-items{
        font-size: 1.30rem;
        line-height: 1.70rem;
        padding-right: 1rem;
        padding-left: 2rem;
    }
}

@media only screen and (max-width: 576px) {
    .nav-items{
        font-size: 0.88rem;
        line-height: 1.20rem;
        padding-right: 2rem;
        padding-left: 0;
    }
}