.scroll-center {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "text" 
    "scroll";
    justify-items: center;
}

.main-title.-second {
    font-family: inherit;
    font-size: 1.13rem;
    line-height: 1.54rem;
    padding-top: 1.92rem;
    padding-bottom: 0.57rem;
    padding-left: 0;
    grid-area: text;
    color: #000;
}

.scroll {
 grid-area: scroll;
 padding-bottom: 5.19rem;
}


@media only screen and (max-width: 992px) {
    .scroll-center {
       display: none;
    }
    .main-title.-second {
        display: none;
    }
    .scroll {
        display: none;
    }
    
}